<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview</title>
    <style>
        body{
            font-family: 'Arial';
            background: white;
            padding: 20px;
        }
        .container{
            background:white;
            padding: 20px;
            border-radius: 10px;
        }
        h1{
            color : #2e8b57;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>{{subject}}</h1>
        <p>Hello {{name}}, </p>
        <p>{{body}}</p>
        <p><b>Interview Details</b></p>
        <ul>
            <li>Date: 10 july 2026</li>
            <li>Time: 11:00 AM</li>
            <li>Mode: Online</li>
        </ul>
        <p>Best of Luck!</p>
    </div>
</body>
</html>